HELP.md

# Build output
target/
build/

# Ignore specific application config
src/main/resources/application.yml

# Maven wrapper JAR
.mvn/wrapper/maven-wrapper.jar

# Eclipse/STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Optional: Don't track nested target or build dirs in src
# These lines are often not necessary unless you really need to include target/build in some submodules.
# !**/src/main/**/target/
# !**/src/test/**/target/
# !**/src/main/**/build/
# !**/src/test/**/build/
